/* Styling av tables */

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #D3D3D3
}

th {
    background: #F4F4F4;
    color: black;
    font-weight: bold;
}

td, th {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
    font-family: Calibri Light, sans-serif;
}